<template>
    <div>
        <div class="layout-padding">
            <h4>yorungo</h4>
            <h6>Die App für selbstorganisierte Gruppen</h6>
            <p></p>
            <p>Wir bieten eine Plattform zur Organisation von gemeinsamen Lauftrainings.</p>
            <p></p>
            <p></p>
            <p style="font-size:0.9em;" class="q-mt-xl">Fragen und Anregungen an <a href="mailto:admin@yorungo.de">admin@yorungo.de</a></p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'about'
    }
</script>
