<template>
    <q-page>
        <div>
            <calendar-month
                :event-array="calevents"
                calendar-locale="de"
                calendar-timezone="Europe/Berlin"
                event-ref="runmonth"
            ></calendar-month>
        </div>
    </q-page>
</template>

<script>
    import { CalendarMonth } from 'quasar-calendar'
    import _ from 'lodash'
    export default {
        name: 'kalender',
        data() {
            return {
            };
        },
        firebase: function () {
            return {
                events: this.$eventsRef
            }
        },
        components: {
            calendarMonth: CalendarMonth
        },
        mounted(){
            //this.$root.$on('click-event-' + 'runmonth',function(o){console.log(o);});
        },
        computed: {
            calevents(){
                let me = this;
                let map = this.events.map(
                    function(t){
                        return {
                            id:t['.key'],
                            start:{
                                dateTime: t.date,
                                timeZone: 'Europe/Berlin'
                            },
                            end:{
                                dateTime: t.date,
                                timeZone: 'Europe/Berlin'
                            },
                            color: me.color(t.level),
                            summary: me.levelname(t.level),
                            description: t.teilnehmer.length + 'Teilnehmer; '+ t.info,
                            location: t.ort,
//                            'runmonth.__open': function(){}
                            //attendees: t.teilnehmer
                        };
                } );
                return map;
            },
            attributes() {
                return this.events.map(
                 function(t){
                    return {
                        dates: t.date,
                        dot: { backgroundColor: t.color },
                        customData: t
                    };
                } );
            }
        },
        methods:{
            color(level) {
                let color = 'blue';
                switch (parseInt(level)) {
                    case 1: color='green'; break;
                    case 2: color='orange'; break;
                    case 3: color='red'; break;
                    case 4: color='blue'; break;
                }
                return color;
            },
            levelname(level) {
                let l = _.find(this.$store.state.levels,(o)=>{return o.value==level;});
                return l?l.label:'';
            },
            dayclick(day){
                let me = this;
                if ( day.attributes.length == 0) {
                    day.attributes.push({
                        customData: {
                            "date": day.date.toISOString(),
                            "info": "",
                            "ort": "",
                            "level":0,
                            "color": "green",
                            "teilnehmer": []
                        }
                    });
                    this.termin(day.attributes[0].customData);
                }
                else if ( day.attributes.length > 1) {
                    let actions = [];
                    _.forEach(day.attributes, function(e){
                        let label = new Date(e.customData.date).toLocaleDateString('de-DE',
                                { year: 'numeric', month: 'long', day: 'numeric', hour:'numeric', minute:'2-digit' });
                        label = label + ' - '+ e.customData.ort;
                        actions.push({
                            label: label,
                            icon: 'directions_run',
                            handler(){
                                me.termin(e.customData);
                            }
                        });
                    });
                    this.$q.actionSheet({
                        title: 'Wähle einen Event',
                        actions: actions
                    }).then(action => {}).catch(() => {});
                }
                else
                    this.termin(day.attributes[0].customData);
            },
            termin(event) {
                this.$store.commit('event/updateEvent', event);
                this.$router.push('termin');
            }
        }
    }
</script>
