<template>
    <q-layout ref="layout" view="hHr LpR lFf" :right-breakpoint="1100" color="">

        <!-- Header -->
        <q-toolbar slot="header" color="">
            <!--
            <q-btn flat @click="$refs.layout.toggleLeft()">
                <q-icon name="menu" />
            </q-btn>
            -->
            <q-toolbar-title align="left">
                yorungo
            </q-toolbar-title>
            <q-btn flat @click="$refs.layout.toggleRight()">
                <q-icon name="menu" />
            </q-btn>
        </q-toolbar>

        <!-- Navigation -->
        <q-tabs slot="navigation" align="center">
            <q-route-tab slot="title" to="liste" replace hide="icon" label="Liste" />
            <q-route-tab slot="title" to="kalender" replace hide="icon" label="Kalender" />

        </q-tabs>

        <!-- Left Side Panel -->
        <!--
        <div slot="left">
            <q-list no-border link inset-separator>
                <q-list-header>Essential Links</q-list-header>
                <q-side-link item to="/docs">
                    <q-item-side icon="school" />
                    <q-item-main label="Docs" sublabel="quasar-framework.org" />
                </q-side-link>
                <q-side-link item to="/forum">
                    <q-item-side icon="record_voice_over" />
                    <q-item-main label="Forum" sublabel="forum.quasar-framework.org" />
                </q-side-link>
                <q-side-link item to="/chat">
                    <q-item-side icon="chat" />
                    <q-item-main label="Gitter Channel" sublabel="Quasar Lobby" />
                </q-side-link>
                <q-side-link item to="/twitter">
                    <q-item-side icon="rss feed" />
                    <q-item-main label="Twitter" sublabel="@quasarframework" />
                </q-side-link>
            </q-list>
        </div>
        -->
        <!-- Right Side Panel -->
        <div slot="right">
            <h5>yorungo</h5>

            <q-list no-border link inset-separator>
                <!--<q-list-header>Essential Links</q-list-header>-->

                <q-side-link item to="/about">
                    <q-item-side icon="school" />
                    <q-item-main label="About" sublabel="" />
                </q-side-link>

                <q-side-link item to="/impressum">
                    <q-item-side icon="gavel" />
                    <q-item-main label="Impressum" sublabel="" />
                </q-side-link>

                <q-side-link item to="/datenschutz">
                    <q-item-side icon="gavel" />
                    <q-item-main label="Datenschutzerklärung" sublabel="" />
                </q-side-link>

                <q-item @click="logout">
                    <q-item-side icon="exit_to_app" />
                    <q-item-main label="Abmelden" :sublabel="user.email" />
                </q-item>


            </q-list>
        </div>
        <!-- sub-routes get injected here: -->
        <router-view />
        <!-- Footer -->
        <!--
        <q-toolbar slot="footer">
            <q-toolbar-title>
                {{user.email}}
            </q-toolbar-title>
        </q-toolbar>
        -->
    </q-layout>
</template>

<script>
    import firebase from 'firebase';
    export default {
        name: 'layout',
        computed:{
            user(){ return firebase.auth().currentUser; }
        },
        methods: {
            logout: function() {
                firebase.auth().signOut().then(() => {
                    this.$router.replace('main')
            })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
@import '~variables'

.hello
    margin-top 50px
    a color #35495E
    ul
        list-style-type none
        padding 0

li
    display inline-block
    margin 0 10px
</style>
