<template>
    <q-page  class="">
        <q-list separator>
            <q-collapsible v-for="(event, key) in eventslist" :key="key" icon="directions_run">
                    <template slot="header">
                        <q-item-side icon="directions_run" :color="iconcolor(event)"></q-item-side>
                        <q-item-main :label="datum(event)" :sublabel="shortinfo(event)"></q-item-main>
                        <q-item-side right>
                            <q-chip color="primary" small>{{numteilnehmer(event)}}</q-chip>
                        </q-item-side>
                    </template>
                    <div class="eventinfo">
                        {{event.info}}
                    </div>
                    <div class="teilnehmerliste">
                        <span class="title">Teilnehmer: </span>
                        {{teilnehmerliste(event)}}
                    </div>
                    <q-item-separator />
                    <q-toolbar color="" text-color="light" >
                        <q-btn flat dense :icon="actionicon(event)" :color="actioncolor(event)" :label="actionlabel(event)" @click="join(event)"/>
                        <q-toolbar-title></q-toolbar-title>
                        <q-btn v-if="isowner(event)" flat dense icon="create" label="Bearbeiten" @click="edit(event)" />
                    </q-toolbar>
            </q-collapsible>
        </q-list>

        <q-page-sticky position="bottom-right" :offset="[18, 18]">
            <q-btn round color="primary" @click="add" icon="add" />
        </q-page-sticky>
    </q-page>
</template>

<script>
    import _ from 'lodash'
    export default {
        name: 'liste',
        firebase: function () {
            return {
                events: this.$eventsRef,
                users: this.$usersRef
            }
        },
        computed:{
            eventslist() {
                return this.events;//_.sortBy(this.events, [function(o) { return o.date; }]);
            },
            uid() {
                return this.$firebase.auth().currentUser?this.$firebase.auth().currentUser.uid:'';
            }
        },
        methods:{
            shortinfo(event) {
                return this.levelname(event.level) + ' - ' + event.ort;
            },
            levelname(level) {
                let l = _.find(this.$store.state.levels,(o)=>{return o.value==level;});
                return l?l.label:'';
            },
            actioncolor(event){
                return this.isjoin(event)?"warning":"green";
            },
            actionlabel(event){
                return this.isjoin(event)?"Absagen":"Teilnehmen";
            },
            actionicon(event){
                return this.isjoin(event)?"clear":"done";
            },
            isjoin(event) {
                return event.teilnehmer && event.teilnehmer.indexOf(this.uid)>=0;
            },
            isowner(event) {
                return event.owner && event.owner==this.uid;
            },
            iconcolor(event){
                return this.isowner(event)?"blue":(this.isjoin(event)?"green":"");
            },
            teilnehmer(event) {
                return ( typeof event.teilnehmer ==='undefined') ? [] : event.teilnehmer;
            },
            teilnehmerliste(event) {
                let me = this;
                let tnl = _.reduce(me.teilnehmer(event),function(result,value){
                    result.push( me.teilnehmername(value));
                    return result;
                },[]);
                return tnl.join(', ');
            },
            teilnehmername(id) {
                let user = _.find(this.users,function(u){return u['.key']==id;});
                return user ? user.name : '--';
            },
            numteilnehmer(event) {
                return ( typeof event.teilnehmer ==='undefined') ? 0 : event.teilnehmer.length;
            },
            datum(event) {
                return new Date(event.date).toLocaleDateString('de-DE',
                        { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
            },
            join(event){
                if ( typeof event.teilnehmer === 'undefined')
                    this.$set(event,'teilnehmer',[]);

                if ( !this.isjoin(event) )
                    event.teilnehmer.push( this.uid );
                else {
                    let idx = event.teilnehmer.indexOf(this.uid);
                    event.teilnehmer.splice(idx,1);
                }
                this.$root.$emit('updateevent', event);
            },
            edit(event){
                this.$store.commit('event/updateEvent', event);
                this.$router.push('termin');
            }
            ,
            add(){
                let event = {
                    "date": new Date().toISOString(),
                    "info": "",
                    "ort": "",
                    "color": "green",
                    owner: this.uid,
                    "teilnehmer": [ this.uid ]
                };
                this.$store.commit('event/updateEvent', event);
                this.$router.push('termin');
            }
        }
    }
</script>

<style>
    .eventinfo {
        font-size: 0.9em;
    }

    .teilnehmerliste {
        margin-top:0.4em;
        font-size: 0.9em;
    }

    .teilnehmerliste .title {
        color:#757575;
    }

</style>
