<template>
  <div class="hello">
    <h5>yorungo</h5>
    <h6>{{user.email}}</h6>
    <button @click="logout">Logout</button>
  </div>

</template>

<script>
export default {
  name: 'hello',
  computed:{
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
</style>
