<template>
    <q-layout ref="layout" view="hHr LpR lFf">
        <q-layout-header reveal>
            <q-toolbar>
                <q-btn flat round small @click="$router.back()">
                    <q-icon name="navigate_before" />
                </q-btn>
                <q-toolbar-title>
                    yorungo
                    <span slot="subtitle">Impressum</span>
                </q-toolbar-title>
            </q-toolbar>
        </q-layout-header>
        <q-page-container>
            <q-page padding class="">
                <div class='impressum'>
                    <strong>Impressum</strong>
                    <p>Angaben gemäß § 5 TMG</p>
                    <p>
                        Ralf Blumenthal <br>
                        Wehrstrasse 27<br>
                        52372 Kreuzau <br>
                    </p>
                    <p>
                        <strong>Vertreten durch: </strong><br>
                        Ralf Blumenthal<br>
                    </p>
                    <p>
                        <strong>Kontakt:</strong> <br>
                        Telefon: +49-(0)15150700851<br>
                        E-Mail: <a href='mailto:ralf@goldenzazu.de'>ralf@goldenzazu.de</a>
                        <br>
                    </p>
                </div>
            </q-page>
        </q-page-container>
    </q-layout>
</template>

<script>
    export default {
        name: 'impressum'
    }
</script>

<style>

</style>
