<template>
    <q-layout ref="layout" view="hHr LpR lFf" color="">
        <q-layout-header>
            <q-toolbar>
                <q-toolbar-title>
                    yorungo
                </q-toolbar-title>
            </q-toolbar>
        </q-layout-header>
        <q-page-container>

            <q-page padding class="docs-input row justify-center">
                <div style="width: 500px; max-width: 90vw;" >
                    <p class="caption">
                        <span>Die App für selbstorganisierte Gruppen.</span>
                        <span class="">
                            Wir bieten eine Plattform zur Organisation von gemeinsamen Lauftrainings.
                        </span>
                    </p>
                    <div class="login">
                        <h6>Anmelden und weg von der Couch </h6>
                        <q-input v-model="email" type="email" float-label="E-Mail" />
                        <q-input v-model="password" type="password" float-label="Password" />
                        <q-btn class="q-mt-lg"  @click="signIn" outline rounded color="primary" label="Anmelden" />
                        <p class="q-mt-lg caption">Du hast noch keinen Zugang? Dann <router-link to="/register">registriere</router-link> dich</p>
                    </div>
                    <div class="q-mt-lg" ></div>
                    <div class="q-mt-lg q-caption" >Version: {{version}}</div>
                </div>
            </q-page>

        </q-page-container>
    </q-layout>
</template>

<script>
import firebase from 'firebase'

export default {
    name: 'login',
    data: function() {
        return {
            email: '',
            password: ''
        }
    },
    computed:{
        version(){return this.$store.state.version;}
    },
    methods: {
        signIn: function() {
            let me = this;
            this.$q.loading.show({message:'Anmeldung ...'});
            firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
                    (user) => {
                me.$q.loading.hide();
                me.$router.replace('/')
                        },
            (err) => {
                me.$q.loading.hide();
                me.$q.notify('Oops. ' + err.message);
            });
        }
    }
}
</script>

<style scoped>  /* "scoped" attribute limit the CSS to this component only */

</style>
