<template>
    <q-layout ref="layout" view="hHr LpR lFf" color="">
        <q-layout-header>
            <q-toolbar>
                <q-toolbar-title>
                    yorungo
                </q-toolbar-title>
            </q-toolbar>
        </q-layout-header>
        <q-page-container>

            <q-page padding class="docs-input row justify-center">
                <div style="width: 500px; max-width: 90vw;" >
                    <p class="caption">
                        <span>Die App für selbstorganisierte Gruppen.</span>
                        <span class="">
                            Wir bieten eine Plattform zur Organisation von gemeinsamen Lauftrainings.
                        </span>
                    </p>
                    <div class="login">
                        <h6>Registriere dich!</h6>
                        <q-input v-model="name" type="text" float-label="Benutzername" />
                        <q-input v-model="email" type="email" float-label="E-Mail" />
                        <q-input v-model="password" type="password" float-label="Password" />
                        <q-btn class="q-mt-lg"  @click="signUp" outline rounded color="primary" label="Registrieren" />
                        <p class="q-mt-lg caption">oder zurück zur <router-link to="/login">Anmeldung.</router-link>.</p>

                    </div>
                </div>
            </q-page>

        </q-page-container>
    </q-layout>
</template>

<script>
export default {

    name: 'signUp',
    data: function() {
        return {
            name:'',
            email: '',
            password: ''
        }
    },
    methods: {
        signUp: function() {
            let me = this;
            this.$q.loading.show({message:'Anmeldung ...'});
            this.$firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
               .then((user) => {
                    user.updateProfile({
                        displayName: me.name,
                        photoURL: ""
                    });
                    me.$q.loading.hide();
                    me.password = '';
                    me.$router.replace('/')
                },
                (err) => {
                    this.$q.loading.hide();
                    this.$q.notify('Oops. ' + err.message);
                });
        }
    }
}
</script>

<style scoped>

</style>
