<template>
    <q-layout ref="layout" view="hHr LpR lFf">
        <q-layout-header reveal>
            <q-toolbar>
                <q-btn flat round small @click="$router.back()">
                    <q-icon name="navigate_before" />
                </q-btn>
                <q-toolbar-title>
                    yorungo
                    <span slot="subtitle">{{daystring}}</span>
                </q-toolbar-title>
            </q-toolbar>
        </q-layout-header>
        <q-page-container>
            <q-page padding class="">
            <q-list>

                <q-item>
                    <q-item-side icon="event" />
                    <q-item-main>
                        <q-datetime placeholder="Datum" v-model="newEvent.date" type="datetime" format24h :readonly="!canEdit" />
                    </q-item-main>
                </q-item>

                <q-item>
                    <q-item-side icon="room" />
                    <q-item-main>
                        <q-input v-model="newEvent.ort" float-label="Ort" :readonly="!canEdit" />
                    </q-item-main>
                </q-item>

                <q-item>
                    <q-item-side icon="trending_up" />
                    <q-item-main>
                        <q-select
                                v-model="newEvent.level"
                                float-label="Leistungsstufe"
                                radio
                                :options="leveloptions"
                        />
                    </q-item-main>
                </q-item>

                <q-item>
                    <q-item-main>
                        <q-input
                                v-model="newEvent.info"
                                type="textarea"
                                float-label="Beschreibung"
                                :max-height="100"
                                rows="7"
                                :readonly="!canEdit"
                        />
                    </q-item-main>
                </q-item>
                <q-item>
                    {{numTeilnehmer}} Teilnehmer: {{teilnehmerliste}}
                </q-item>
                <q-item-separator/>

                <q-toolbar color="amber" text-color="dark" inverted>
                    <q-btn flat dense v-if="canEdit"  @click="save" color="primary" icon="save" label="Speichern" />
                    <q-btn flat dense v-if="canCopy" @click="copy" color="secondary" icon="content_copy" label="Kopieren" />
                    <q-toolbar-title></q-toolbar-title>
                    <q-btn flat dense v-if="canDelete" @click="remove" color="warning" icon="delete" label="Löschen" />
                </q-toolbar>
            </q-list>
            </q-page>
        </q-page-container>

    </q-layout>
</template>

<script>
    import _ from "lodash";
    export default {
        name: 'termin',
        firebase: function () {
            return {
                users: this.$usersRef
            }
        },
        data: function() {
            return {
                newEvent: {
                    date: null,
                    ort: '',
                    info: '',
                    level:0,
                    color:'red',
                    teilnehmer:[],
                    owner:''
                }
            }
        },
        computed: {
            leveloptions(){return this.$store.state.levels;},
            numTeilnehmer() {return this.newEvent.teilnehmer.length},
            canEdit() {
                return this.isowner(this.newEvent);
            },
            canDelete() {
                return this.isowner(this.newEvent) && this.isSavedEvent;
            },
            canCopy() {
                return this.isSavedEvent;
            },
            isSavedEvent() {
                return this.newEvent.hasOwnProperty('.key');
            },
            daystring(){
                return this.newEvent.date ? new Date(this.newEvent.date).toLocaleDateString('de-DE',
                        { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) : '';
            },
            uid() {
                return this.$firebase.auth().currentUser?this.$firebase.auth().currentUser.uid:'';
            },
            teilnehmer() {
                let event = this.newEvent;
                return ( typeof event.teilnehmer ==='undefined') ? [] : event.teilnehmer;
            },
            teilnehmerliste() {
                let me = this;
                let tnl = _.reduce(me.teilnehmer,function(result,value){
                    result.push( me.teilnehmername(value));
                    return result;
                },[]);
                return tnl.join(', ');
            }
        },
        methods: {
            teilnehmername(id) {
                let user = _.find(this.users,function(u){return u['.key']==id;});
                return user ? user.name : '--';
            },
            onEventAdded(event){
                this.$store.commit('event/updateEvent', event);
                this.populateFields();
            },
            remove(){
                let me = this;
                me.$q.dialog({
                    title: 'Löschen',
                    message: 'Bitte bestätige das endgültige Löschen des Events.',
                    ok: 'Löschen',
                    cancel: 'Abbrechen'
                }).then(() => {
                    me.$root.$emit('removeevent', this.newEvent);
                    me.$router.back()
                }).catch(() => {});
            },
            copy(){
                let copy = {...this.newEvent}
                delete copy['.key'];
                this.copy.owner = this.uid;
                this.copy.teilnehmer = [ this.uid ];
                this.$store.commit('event/updateEvent', copy);
                this.populateFields();
            },
            save(){
                this.$root.$emit('updateevent', this.newEvent);
            },
            populateFields(){
                this.newEvent = this.$store.state.event.event;
            },
            isjoin(event) {
                return event.teilnehmer && event.teilnehmer.indexOf(this.uid)>=0;
            },
            isowner(event) {
                return event.owner && event.owner==this.uid;
            }
        },
        mounted(){
            let me = this;
            me.$root.$on('eventadded', me.onEventAdded);
        },
        beforeDestroy(){
            this.$root.$off('eventadded', this.onEventAdded);
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.populateFields();
            })
        }
    }
</script>

<style>

</style>
