<template>
  <div id="q-app">
    <keep-alive>
    <router-view />
      </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
        event:{}
    }
  },
  firebase: function () {
    return {
      events: this.$eventsRef
    }
  },
  mounted(){
    let me = this;
    me.$root.$on('updateevent', me.updateEvent);
    me.$root.$on('removeevent', me.removeEvent);
    me.initMessaging();
  },
  beforeDestroy(){
    this.$root.$off('updateevent', this.updateEvent);
    this.$root.$off('removeevent', this.removeEvent);
  },
  computed:{
    uid() {
      return this.$firebase.auth().currentUser?this.$firebase.auth().currentUser.uid:'';
    }
  },
  methods: {
    initMessaging: function() {
      let me = this;
      me.$firebase.messaging().onMessage(function(payload){
        me.$q.notify({
          type: 'info',
          message: payload.notification.message,
          position: 'top',
          timeout:0
        });
      });
    },
    updateEvent: function (item) {
      let me = this;
      // create a copy of the item
      me.event = {...item}
      if (me.event.date instanceof Date) {
        let d = me.event.date;
        me.event.date = d.toISOString();
      }
      if (!me.event.hasOwnProperty('.key')) {
        this.addItem(me.event);
      }
      else {
        // remove the .key attribute
        delete me.event['.key']
        this.$eventsRef.ref.child(item['.key']).set(me.event);
      }
      this.$store.commit('event/updateEvent', me.event);
    },
    removeEvent: function (item) {
      this.$eventsRef.ref.child(item['.key']).remove()
    },
    addItem (item) {
      let ref = this.$eventsRef.ref.push(item);
      item['.key'] = ref.key;
      this.$root.$emit('eventadded', item);
    }
  }
}
</script>

<style>
</style>
