<template>
  <q-layout ref="layout" view="hHr LpR lFf">
    <!-- Header -->
    <q-layout-header reveal>
      <q-toolbar>
        <!--<q-btn flat round dense icon="menu" @click="leftSide = !leftSide" />-->
        <q-toolbar-title>
          yorungo
          <!-- <span slot="subtitle"></span> -->
        </q-toolbar-title>
        <q-btn flat round dense icon="menu" @click="rightSide = !rightSide" />

      </q-toolbar>

      <!-- nav-tabs component -->
      <q-tabs align="center" >
        <q-route-tab slot="title" icon="" to="liste" replace hide="icon" label="Liste" />
        <q-route-tab slot="title" to="kalender" replace hide="icon" label="Kalender" />
      </q-tabs>

    </q-layout-header>

    <!-- Right Side Panel -->
    <q-layout-drawer v-model="rightSide" side="right" :breakpoint="1100">

      <q-list no-border link inset-separator>
        <q-list-header>yorungo</q-list-header>


        <span @click="about">
        <q-item @click="about">
          <q-item-side icon="school" />
          <q-item-main label="About" sublabel="Weg von der Couch" />
        </q-item>
        </span>

        <span @click="impressum">
        <q-item @click="impressum">
          <q-item-side icon="gavel" />
          <q-item-main label="Impressum" />
        </q-item>
        </span>

        <span @click="datenschutz">
        <q-item @click="datenschutz">
          <q-item-side icon="gavel" />
          <q-item-main label="Datenschutzerklärung" />
        </q-item>
        </span>

        <span @click="logout" v-if="user">
          <q-item @click="logout">
            <q-item-side icon="exit_to_app" />
            <q-item-main label="Abmelden" :sublabel="user.email" />
          </q-item>
        </span>

        <q-item-separator />
        <q-list-header class="q-mt-lg q-caption">Version: {{version}}</q-list-header>

      </q-list>
    </q-layout-drawer>

    <!-- sub-routes get injected here: -->
    <q-page-container>
      <keep-alive>
        <router-view />
      </keep-alive>
    </q-page-container>

    <!-- Footer -->
    <q-layout-footer>
    </q-layout-footer>


  </q-layout>

</template>

<script>
export default {
  name: 'LayoutDefault',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.desktop,
      rightSide:false
    }
  },
  computed:{
    user(){ return this.$firebase.auth().currentUser; },
    version(){return this.$store.state.version;},
    username(){return this.user?this.user.displayName:''}
  },
  methods: {
    about() {
      this.$router.push('/');
      this.rightSide = false;
    },
    impressum() {
      this.$router.push('/impressum');
      this.rightSide = false;
    },
    datenschutz() {
      this.$router.push('/datenschutz');
      this.rightSide = false;
    },
    logout() {
        let me = this;
        me.rightSide = false;
        me.$firebase.auth().signOut().then(() => {
          me.$router.replace('login');
      });
    }
  }
}
</script>

<style lang="stylus">
  @import '~variables'

  .hello
    margin-top 50px
    a color #35495E
    ul
      list-style-type none
      padding 0

  li
    display inline-block
    margin 0 10px
</style>
